body.darck {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: $main-text-color-black;
	background-color: $main-bg-color-black;
	a {
		color: $main-text-color-black;
	}
	.darck-none {
		display: none;
	}
	.darck-visible {
		display: inline;
	}	
	.svg-darck {
		fill: #ffffff;
	}
	
	.menu {
		&__icon {
			&:before,
			&:after,
			& span {
				background-color: #ffffff;
			}
		}
		&__body {
			background-color: #000;
		}		
	}
	.promo {
		&__btn {
			box-shadow: -15px -15px 20px rgba(0, 0, 0, 0.8);
					&:hover {
			box-shadow: -5px -5px 20px rgba(0, 0, 0, 0.8);
		}

		}
	}
	#mainVector {
		stroke:#ffffff;
	}
}
.darck-visible {
	display: none;
}	

