body.darck {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: $main-text-color-black;
	background-color: $main-bg-color-black;
	a {
		color: $main-text-color-black;
	}
	.darck-none {
		display: none;
	}
	.darck-visible {
		display: block;
	}	
	.svg-darck {
		fill: #ffffff;
	}
}
.darck-visible {
	display: none;
}	

