@media (min-width: 767px) {
	.header__setting-lang-list {
		li {
			transition: all 0.5s;
			&:hover {
				opacity: 0.6;
			}
		}
	}
	.header__phone {
		transition: all 0.5s;
		&:hover {
			opacity: 0.6;
		}
	}

	.menu__link {
		transition: all 0.5s;
		&:hover {
			opacity: 0.6;
		}

	}
}